*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url("../images/sfondo.png");
  background-size: cover;
}

.container{
  width: 1200px;
  margin:0 auto;
}

header{
  width: 100%;
  height: 600px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.sfondoheader{
  background-image: url("../images/header.png");
  background-size: cover;
  height: 100%;
  position: relative;
}

.imglogo{
position:absolute;
top:40%; /*messo 40%per spostarlo verso l'alto */
left:50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
}

nav{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: darkgrey;
}

nav > ul{
  width: 80%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

nav > ul > li {
  display: inline-block;
  color: white;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding-left: 15px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.blocco{
  float: left;
}

.blocco.uno{
  width: 20%;
  height: 400px;
  padding-right: 10px;
}

.blocco.due{
  width: 40%;
  height: 800px;
  background-color: #F5F5F5;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.due > h2{
  padding-left: 20px;
  color: grey;
  text-shadow: 2px 2px 2px #191919;
}

 .due > p{
  padding-top: 40px;
  padding-left: 20px;
  text-transform: full-width;
}

.blocco.tre{
  width: 20%;
  height: 960px;
  padding-left: 10px;
}

.sidebarcontent div:first-child{
  height: 320px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.sidebarcontent div:nth-child(2){
  height: 320px;
  background-color: #F5F5F5;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sidebarcontent div:nth-child(3){
  height: 320px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.widget > h2{
  text-align: center;
  color: grey;
}

.widget > p{
  text-align: center;
  padding-top: 10px;
}

.sidebarcontent2{
  height: 400px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.title {
  color: grey;
  padding: 8px 0px 8px 8px;
}

.floatleft{
  float: left;
}

.title > h2{
  display: inline-block;
}

.wifi{
  width: 25px;
  height: 25px;
  background-color: orange;
  display: inline-block;
}

.sidebarcontent2 > a{
  padding-left: 8px;
  text-decoration: none;
  color: green;
}

footer{
  height: 200px;
  background-color: blue;
  width: 100%;
  margin-top: 30px;
  background-color: #F5F5F5;
}

.autore{
  height: 10%;
  border-bottom: gray 2px solid;
}

.autore > h4{
  text-align: center;
  color: grey;
}

.socialicon{
  width: calc(100% / 3);
  height: 90%;
  position: relative;
  float: left;
  background-color: #F5F5F5;
}

.icon{
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
